.login{
    background-color: rgb(255, 255, 255);
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    padding: 20px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-container{
    height: 97vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSFa8On4BCeBiVXLqDrdd8jEB3Kh4KCak0mA&usqp=CAU");
    background-size: cover;
}
.heading{
    text-align: center;
}
.navbar-top{
    height: 10%;
    background-color: rgb(193, 4, 4);
}
.home-container{
    min-height: 100vh;
    background-color: black;
}
.links{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}
.links:hover{
    color: white;
    border-bottom: 2px solid white;
    scale: 1.1;
}
.home-icon{
    height: 50px;
    margin-left: 10px;
    cursor: pointer;
}
.home-icon:hover{
    scale: 0.8;
}
.search-bar{
    width: 80%;
    max-width: 500px;
    height: 50px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-style: none;
}
.left-search{
    background-color: white;
    height: 50px;
    width: 50px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.search-bar:focus{
    border-style: none;
    outline: none;
}
.reciep-container{
    height: 340px;
    width: 250px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
}
.image-reciep{
    height: 200px;
    border-radius: 10%;

}
.details-container{
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.details-image{
    width: 80%;
    max-width: 600px;
    border-radius: 30px;
}
.details-card{
    width: 80%;
    max-width: 1000px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}
.profile-container{
    min-height: 100vh;
    background-color: black;
}
.profile-card{
    width: 40%;
    max-width: 300px;
    background-color: white;
    border-radius: 20px;
}
.reciep-container {
    position: relative;
  }
  
.bookmark {
    position: absolute;
    top: 10px;
    right: 10px;
    }